@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&family=Roboto:wght@300;400;700;900&display=swap");
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/*
mejor utilizar las unidades relativas y no absolutas
em =  no se recomienda usar mucho
vw = vieper width = toma el ancho como referencia el ancho de la pantalla y lo va a adaptar. = tampoco es recomendable usarlo por que algunos dispositivos no lo soportan.


El mas utilizable es el 
rem

los rem toman en consideracion que hay en el html y por defecto tiene 16px

1rem = 16px;





*/

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-size: 62.5%; /* de esta forma 1 rem serian 10px*/
}

/* STILOS INDEX.HTML */
/* ================================================================= */

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

h1,
h2,
span {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 4rem;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
  color: #000;
}

.titulo-inicio {
  padding: 7rem 0rem 7rem 0rem;
  text-align: center;
}

.titulo-inicio-span {
  color: #037bc0;
}

/* Decorando el nav del index.html */

.contenido-barra-navegacion {
  border-top: 0.3rem solid #e1e1e1;
}

.navegacion-inicio a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.navegacion-inicio a:hover {
  color: #037bc0;
}

.navegacion-inicio {
  padding: 2rem 0rem 2rem 0rem;
  max-width: 120rem;
  margin: 0rem auto 0rem auto; /*centramos la barra de navegacion */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imagen-inicio {
  width: 100%;
}

.imagen-inicio img {
  width: 100%;
  height: 40rem;
  display: block;
  object-fit: cover;
}

/* seccion de categoria de productos */
/* ================================================================ */

.categorias {
  margin: 3rem 0rem 3rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* tres columnas de una fraccion */
  gap: 2rem;
  /* el gap distribuye los elementos */
  width: 80%;
}

/* img {
  max-width: 100%;
} */
/* 
en lo anterior definimos que la imagen tenga el 100% dependiendo del div o el contendor en que se encuentre */

.titulo-categorias-span {
  color: #037bc0;
}

.titulo-categorias {
  text-align: center;
  margin-bottom: 3rem;
}

.categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoria a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  padding: 2rem 0rem 2rem 0rem;
  font-size: 2.5rem;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  width: 100%;
}

.categoria a:hover {
  background-color: #037bc0;
  color: white;
  font-weight: bold;
  border-radius: 0rem 0rem 2rem 0rem;
}
.categoria img {
  max-width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

/* seccion sobre nosotros */
/* ================================================================ */

.sobre-nosotros {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc0 50%,
      #037bc0 100%
    ),
    url(../img/nosotros.jpg);
  background-position: left center;
  padding: 10rem 0rem 10rem 0rem;
  background-repeat: no-repeat;
  background-size: 100%, 90rem;
}

.sobre-nosotros-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

.nosotros-texto {
  grid-column: 2 / 3;
  color: white;
}

.nosotros-texto p {
  font-size: 1.5rem;
}

/* seccion nuestros productos */
/* ================================================================ */

.contenido-main {
  padding-top: 5rem;
  margin: 0px 25rem 0px 25rem;
}

.contenido-main h2 {
  text-align: center;
  padding-bottom: 5rem;
}

.producto {
  background-color: #037bc0;
}

.texto-producto {
  text-align: center;
  color: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.texto-producto .precio {
  font-size: 2.5rem;
  font-weight: 900;
  padding: 1rem;
}

.texto-producto p {
  font-size: 1.8rem;
  padding: 1rem;
}

.texto-producto h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

.texto-producto button {
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  background-color: #8cbc00;
  font-weight: 700;
  display: block;
  width: 100%;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

.texto-producto button:hover {
  background-color: #769c02;
  color: white;
}

.listado-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.producto:nth-child(1) {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img {
  height: 38rem;
  width: 100%;
  object-fit: cover;
}

.producto:nth-child(2) {
  grid-column: 1 / 4;
}
.producto:nth-child(2) img {
  height: 28rem;
  width: 100%;
  object-fit: cover;
}
.producto:nth-child(3) {
  grid-column: 4 /7;
}
.producto:nth-child(3) img {
  height: 28rem;
  width: 100%;
  object-fit: cover;
}

.producto:nth-child(4) {
  grid-column: 1/3;
}

.producto:nth-child(5) {
  grid-column: 3/5;
}
.producto:nth-child(6) {
  grid-column: 5/7;
}

/* seccion footer */
/* ================================================================ */

.footer {
  margin-top: 5rem;
  border-top: 0.3rem solid #e1e1e1;
  padding: 3rem;
}

.contenido-footer {
  max-width: 120rem;
  margin: 0rem auto 0rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer p {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  color: grey;
}

.contenido-footer .contenido-seccion nav {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenido-footer .contenido-seccion a {
  text-decoration: none;
  padding: 0.5rem 0px;
  color: black;
  transition: all 0.3s ease-in-out;
}

.contenido-footer .contenido-seccion a:hover {
  color: #037bc0;
}

.contenido-seccion h3 {
  font-size: 3rem;
}

.contenido-seccion {
  padding-left: 10rem;
}

/* PAGINA NOSOTROS */
/* ================================================================ */

.contenido-nosotros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 4rem;
}

.informacion-nosotros {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* PAGINA BLOG */
/* ================================================================ */

article p {
  font-size: 1.5rem;
  font-weight: 700;
}

article span {
  font-size: 1.5rem;
  color: #037bc0;
}

.contenedor-blog {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4rem;
}

aside li a {
  font-size: 1.5rem;
}

.entrada {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}

.entrada:last-of-type {
  border: none;
}

.entrada-meta {
  display: flex;
  justify-content: space-between;
}

.entrada-meta {
  padding-bottom: 2rem;
}

.entrada button {
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem;
  border: none;
  cursor: pointer;
  background-color: #8cbc00;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

.entrada button:hover {
  background-color: #769c02;
  color: white;
}

.max-width-30 {
  max-width: 30rem;
}

button a {
  font-size: 1.5rem;
}

/* PAGINA ENTRADA BLOG */
/* ================================================================ */

.contenido-entrada-blog {
  width: 60rem;
  margin: 0 auto;
}

/* PAGINA GALERIA */
/* ================================================================ */

.galeria {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.galeria img {
  height: 40rem;
  width: 40rem;
  object-fit: cover;
}

/* PAGINA CONTACTO */
/* ================================================================ */

form fieldset .campo {
  font-size: 2.5rem;
  font-weight: 700;
}

fieldset {
  font-size: 2.5rem;
}

form button {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.formulario {
  max-width: 60rem;
  margin: 0 auto;
}

.formulario fieldset {
  border: 1px solid black;
  margin-bottom: 2rem;
  padding: 1rem;
}

.formulario legend {
  background-color: #005485;
  width: 90%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
}

.campo {
  display: flex;
  margin-bottom: 2rem;

  align-items: center;
}

.campo label {
  flex-basis: 10rem;
}

.campo input:not([type="radio"]),
.campo textarea,
.campo select {
  flex: 1;
  border: 1px solid #e1e1e1;
  padding: 1rem;
}

.formulario button {
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  background-color: #8cbc00;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

.formulario button:hover {
  background-color: #769c02;
  color: white;
}
